# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

indent_size = 2
indent_style = Tab
tab_width = 2

# New line preferences
end_of_line = crlf
insert_final_newline = false

# C# files
[*.cs]
csharp_new_line_before_open_brace = false
csharp_style_var_when_type_is_apparent = true
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_else = false
